<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление недвижимостью</title>
</head>
<body>
    <div>
        <h1 align="center">Система управления субаредной недвижимости</h1>
        <p><a href="/properties" class="button" id="mainButton">Отчет по объектам недвижимости</a></p>
    </div>
    <script th:src="@{/buttonStyle.js}"></script>
    <div class="video-container">
        <video th:autoplay="autoplay" th:loop="loop" muted>
            <source th:src="@{/home_page.mp4}" th:type="'video/mp4'">
        </video>
    </div>
    <script th:src="@{/mainPage.js}"></script>
</body>
</html>
