<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить объект</title>
</head>
<body>
    <h1 th:text="'Объект недвижимости'">Заголовок</h1>
    <form action="#" th:action="@{/property-create}" th:object="${property}" method="post">
        <label for="address">Адрес</label>
        <input type="text" th:field="*{address}" id="address" placeholder="введите адрес">
        <label for="description">Описание</label>
        <input type="text" th:field="*{description}" id="description" placeholder="введите описание">
        <input type="submit" value="Сохранить">
    </form>
</body>
</html>