<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Обновить объект</title>
</head>
<body>
<form action="#" th:action="@{/property-update}" th:object="${property}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="address">Адрес</label>
    <input type="text" th:field="*{address}" id="address" placeholder="введите адрес">
    <br/>
    <label for="description">Описание</label>
    <input type="text" th:field="*{description}" id="description" placeholder="введите описание">
    <br/>
    <input type="submit" value="Обновить">
</form>
</body>
</html>