<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Недвижимость</title>
</head>
<body>
    <h1 align="center">Объект недвижимости</h1>
    <table id="tableContainer">
        <thead>
            <tr>
                <th>ID</th>
                <th>Адрес</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="prop : ${property}">
                <td th:text="${prop.id}"></td>
                <td th:text="${prop.address}"></td>
                <td th:text="${prop.description}"></td>
            </tr>
        </tbody>
    </table>
    <p><a href="/properties" class="button" id="mainButton">Вернуться к отчету</a></p>
    <script th:src="@{/buttonStyle.js}" defer></script>
</body>
</html>
