<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Недвижимость</title>
        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }
    
            th, td {
                border: 4px solid black;
                padding: 8px;
                text-align: left;
            }
            tr:nth-child(odd) {
                background-color: lightgray;
            }
            tr:nth-child(even) {
                background-color: lightblue;
            }
        </style>
    </head>
    <body>
        <h2  align="center">Объекты недвижимости</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Адрес</th>
                    <th>Описание</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="prop : ${properties}">
                    <td th:text="${prop.id}"></td>
                    <td th:text="${prop.address}"></td>
                    <td th:text="${prop.description}"></td>
                    <td>
                        <a th:href="@{/property-update/{id}(id=${prop.id})}" class="button">Обновить</a>
                        <a th:href="@{/property-delete/{id}(id=${prop.id})}" class="button">Удалить</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div th:if="${#lists.isEmpty(properties)}">
            <p style="font-size: 25px;">Нет объектов недвижимости!</p>
        </div>
        <p><a href="/property-create">Добавить новый</a></p>
    </body>
</html>